# Block jupyter notebook checkpoints
/.ipynb_checkpoints

# Don't upload raw text files to GitHub
*.txt

# Block Python cache
/__pycache__

# Don't monitor scrapwork.ipynb changes
scrapwork.ipynb

# Ignore .numbers files used for manipulating csv training data
*.numbers
